@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*variables*/
  --primary-color: #FFC107;
  --dark-text: #212529;
  --medium-text: #6C757D;
  --light-gray: #DEE2E6;
  --background-light: #F4F5F7;
  --success-color: #28A745;
  --warning-color: #FD7E14;
  --danger-color: #DC3545;
  --premium-color: #FFD700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background-light);
  color: var(--dark-text);
  font-family: Arial, Helvetica, sans-serif;
}

/*base para las tarjeas*/
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 16px;
}

/* Estilos para badges */
.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.badge-active {
  background: var(--success-color);
  color: white;
}

.badge-small {
  background: var(--warning-color);
  color: white;
}

.badge-advanced {
  background: var(--dark-text);
  color: white;
}

.badge-premium {
  background: var(--premium-color);
  color: var(--dark-text);
}
